registry=https://registry.npmjs.com/
@mbicycle:registry=https://mbicycle-082646940582.d.codeartifact.eu-central-1.amazonaws.com/npm/mbicycle-npm-repo/
//mbicycle-082646940582.d.codeartifact.eu-central-1.amazonaws.com/npm/mbicycle-npm-repo/:_authToken=${NPM_TOKEN}
